html,body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 4em auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width:850px){
  .container {
    width: 97.5%;
  }

  main {
    width: 87.5%;
    margin-top: 4em;
    flex-direction: row;
    justify-content: space-between;
  }
}

/*Header styling*/

header {
  grid-column: 1 / -1;
  grid-row: 1/2;
  width: 100%;
  padding: 1em 0;
}

.header--navbar {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
}

.nav--menu {
  cursor: pointer;
}

.nav--logo {
  margin-left: .75em;
}

.nav--cart {
  cursor: pointer;
  margin-top: .15em;
  margin-left: auto;
}

.nav--profile {
  cursor: pointer;
  width: 1.5em;
  margin-left: 1em;
}

.desktop--menu {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.desktop--menu a {
  font-weight: 400;
  margin: 0;
  margin-right: 1em;
  margin-top: .15em;
  color: hsl(219, 9%, 45%);
}

.desktop--menu a:hover,
.desktop--menu a:focus,
.desktop--menu a:active {
  cursor: pointer;
  color: hsl(0, 0%, 0%);
  text-decoration: underline 5px solid orange;
  text-underline-offset: 1.95em;
}

.nav--menu:hover,
.nav--cart:hover,
.nav--profile:hover {
  transform: translateY(.5px);
}

@media (max-width:849px) {
  .desktop--menu {
    display: none;
  }
}

@media (min-width:850px) {

  header {
    padding: 0;
  }

  .header--navbar {
    border-bottom: 1px solid hsl(220, 14%, 75%);
    padding: 1em 0;
  }


  .nav--profile {
    width: 3em;
    margin-left: 1em;
  }

  .nav--logo {
    margin-left: 0;
  }

  .nav--menu{
    display: none;
  }
  
}

/*Menu Styling*/ 

.menu--container {
  display: flex;
  position: absolute;
  top: 0; 
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 70%;
  box-shadow: 0 0 0 10000px rgba(0,0,0,.70);
  z-index: 1;
  overflow-x: hidden;
  padding-top: 1em;
}

.menu--container.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: 500ms ease;
}

.menu--container.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: 500ms ease;
}

.menu--close--btn {
  cursor: pointer;
  color: hsl(219, 9%, 45%);
  font-size: 1rem;
  background: none;
  border: none;
  border-radius: 50%;
  text-align: start;
  margin-bottom: 2.5em;
  margin-left: 2em;
}

.menu--close--btn:hover {
  transform: translateY(.5px);
  background-color: hsl(0, 0%, 95%);
}

.menu--container a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-bottom: 1em;
  display: block;
  transition: 0.3s;
  margin-left: 2em;
}

.menu--container a:hover,
.menu--container a:focus {
  text-decoration: underline;
}

@media (min-width:850px) {
  .menu--container {
    display: none;
  }
}

/*Cart styling*/

.cart {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 8%;
  padding: .5em 0;
  height: 17em;
  width: 97%;
  border-radius: .5em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart.inactive {
  display: none
}

.cart--empty--text,
.order--set--text {
  font-size: 1rem;
  text-align: center;
  margin: auto;
  color: hsl(219, 9%, 45%);
}

.order--set--text {
  color: hsl(26, 100%, 55%);
}


.cart--title {
  margin: 0;
  margin-top: 1.5em;
  margin-left: 5.5%;
}

.cart--line {
  position: absolute;
  top: 30%;
  margin: 0;
  background-color: hsl(220, 14%, 75%);
  border: none;
  width: 100%;
  height: 1px;
}

.cart--products--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.cart--product--container {
  align-self: center;
  display: flex;
  align-items: center;
  width: 89%;
}

.cart--products--img {
  width: 15%;
  border-radius: 7%;
}

.cart--products--info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart--products--info > p {
  color: hsl(219, 9%, 45%);
  margin:0;
  margin-left: .5em;
}

.cart--products--info > p > .cart--total--price {
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  margin-left: .25em;
}

.cart--checkout--btn {
  align-self: center;
  width: 89%;
}

.cart--trash--icon {
  margin-left: auto;
  cursor: pointer;
  color: hsl(220, 14%, 75%);
}

.cart--trash--icon:hover {
  transform: translateY(1px);
}

@media (min-width:850px) {
  .cart{
    justify-self: flex-end;
    height: 13.5em;
    width: 35%;
  }

  .cart--title {
    margin-top: .5em;
  }

  .cart--line {
    top: 25%;
  }
}

/*Main styling*/

main {
  grid-column: 1 /-1;
  grid-row: 2/-1;
}

.product--img--container {
  position: relative;
  height: 30%;
}

.product--img {
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:50% 50%;
}

.product--img--btn--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
}

.change--img--btn {
  cursor: pointer;
  display: flex;
  background-color: hsl(223, 64%, 98%);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 2.5em;
  height: 2.5em;
  margin: 0 .75em;
}

.change--img--btn:hover,
.change--img--btn:focus,
.change--img--btn:active {
  background-color: hsl(223, 64%, 98%);
  color: hsl(26, 100%, 55%);
}

.lightbox--container {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 1em;
  height: 80%;
  width: 60%;
  top: 20%;
  left: 20%;
}

.lightbox--close--btn {
  align-self: flex-end;
  left: -25%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  background: none;
  border: none;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
}

.lightbox--img {
  width:50%;
  height:auto;
  max-height: 95%;
  box-shadow: 0 0 0 10000px rgba(0,0,0,.70);
  border-radius: .75em;
}

.lightbox--container .product--thumbnail {
  margin-top: .75em;
  margin-bottom: 1em;
  width: 10%;
}

.lightbox--btn--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 58.5%;
  top: 40%;
}

.product--thumbnail--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product--thumbnail {
  width: 20%;
  border-radius: .75em;
  cursor: pointer;
  margin-right: 1em;
}

.product--thumbnail:hover,
.product--thumbnail:focus,
.product--thumbnail:active {
  opacity: .85;
}

.active--thumbnail {
  opacity: .7;
  border: 3px solid hsl(26, 100%, 55%);
}


.product--info, .product--price--info {
  padding: 1em;
}

.product--info > h1,
.product--info > h3,
.product--info > p
 {
  margin-top: 0;
}

.product--info > h3 {
  color: hsl(26, 100%, 55%);
  font-size: 1rem;
}

.product--info > p {
  color: hsl(219, 9%, 45%);
  font-size: 1rem;
}

.product--info > p {
  font-size: .85rem;
  line-height: 2em;
}

.product--price--info {
  display: flex;
  align-items: center;
}

.product--price--info > h1,
.product--price--info > h3 {
  margin-top: 0;
}

.price--before {
  margin-left: auto;
  text-decoration-line: line-through;
  color: hsl(220, 14%, 75%);
}

.price--discount {
  margin-left: .7em;
  margin-bottom: 1.25em;
  background-color: hsl(25, 100%, 94%);
  padding: .25em .5em;
  border-radius: 20%;
}

.price--discount > h3 {
  margin: 0;
  color: hsl(26, 100%, 55%);
  font-size: .9rem;
}

.product--to--cart--container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.amount--btn--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  padding: 0em 1em;
  height: 3.25em;
  border-radius: .75em;
}

.amount--btn {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  color: hsl(26, 100%, 55%);
}

.amount--btn:hover{
  color: hsl(26, 100%, 55%, .8);
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: .85rem;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border: none;
  padding: 2em 1em;
  height: 3.25em;
  border-radius: .75em;
}

.add--cart--btn {
  gap:15px;
  margin-top: 1em;
  margin-bottom: 5.5em;
  -moz-box-shadow: 0 5px 20px hsl(26, 100%, 71%);
  -webkit-box-shadow: 0 5px 20px hsl(26, 100%, 71%);
  box-shadow: 0 5px 20px hsl(26, 100%, 71%);
}

.btn:hover,
.btn:active {
  transform: translateY(.45px);
  background-color: hsl(26, 100%, 55%, .8);
}

.add--cart--btn > .add--btn--icon {
  margin-right: 1em;
  color: white;
}

@media (max-width:849px){
  .product--thumbnail--container,
  .lightbox--container {
    display: none;
  }
}

@media (min-width:850px) {
  .product--img--container {
    width: 50%;
    height: 100%;
  }

  .product--img{
    height: 65%;
    width: 90%;
    border-radius: .75em;
    margin: 1.5em 0;
    object-position: 50% 20%
  }

  .product--img--btn--container {
    display: none;
    width: 90%;
    top: 40%;
  }

  .product--info--container {
    width: 50%;
    margin-left: 5em;
    margin-top: 6.5em;
  }
  
  .product--price--info {
    flex-direction: column;
    align-items: flex-start;
  }

  .price--discount {
    margin-left: 8em;
    margin-top: -3.35em;
  }

  .price--before {
    margin-left: 0;
  }

  .product--to--cart--container{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
  }

  .amount--btn--container {
    width: 30%;
  }

  .add--cart--btn {
    width: 70%;
    margin-top: 0;
  }
}
