html,body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 4em auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*Header styling*/

header {
  grid-column: 1 / -1;
  grid-row: 1/2;
  width: 100%;
  padding: 1em 0;
}

nav {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
}

.nav--menu {
  cursor: pointer;
}

.nav--logo {
  margin-left: .75em;
}

.nav--cart {
  cursor: pointer;
  margin-top: .15em;
  margin-left: auto;
}

.nav--profile {
  cursor: pointer;
  width: 1.5em;
  margin-left: 1em;
}

.nav--menu:hover,
.nav--cart:hover,
.nav--profile:hover {
  transform: translateY(.5px);
}

/*Menu Styling*/ 

.menu--container {
  display: flex;
  position: absolute;
  top: 0; 
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 70%;
  box-shadow: 0 0 0 10000px rgba(0,0,0,.70);
  z-index: 1;
  overflow-x: hidden;
  padding-top: 1em;
}

.menu--container.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: 500ms ease;
}

.menu--container.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20px);
  transition: 500ms ease;
}

.menu--close--btn {
  cursor: pointer;
  color: hsl(219, 9%, 45%);
  font-size: 1rem;
  background: none;
  border: none;
  border-radius: 50%;
  text-align: start;
  margin-bottom: 2.5em;
  margin-left: 2em;
}

.menu--close--btn:hover {
  transform: translateY(.5px);
  background-color: hsl(0, 0%, 95%);
}

.menu--container a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
  margin-bottom: 1em;
  display: block;
  transition: 0.3s;
  margin-left: 2em;
}

.menu--container a:hover,
.menu--container a:focus {
  text-decoration: underline;
}

/*Cart styling*/

.cart {
  position: absolute;
  align-self: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 10%;
  padding: .5em 0;
  height: 17em;
  width: 97%;
  border-radius: .5em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart.inactive {
  display: none
}

.cart--empty--text {
  font-size: 1rem;
  text-align: center;
  margin: auto;
  color: hsl(219, 9%, 45%);
}

.cart--title {
  margin: 0;
  margin-top: 1.5em;
  margin-left: 5.5%;
}

.cart--line {
  position: absolute;
  top: 30%;
  margin: 0;
  background-color: hsl(220, 14%, 75%);
  border: none;
  width: 100%;
  height: 1px;
}

.cart--products--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.cart--product--container {
  align-self: center;
  display: flex;
  align-items: center;
  width: 89%;
}

.cart--products--img {
  width: 15%;
  border-radius: 7%;
}

.cart--products--info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart--products--info > p {
  color: hsl(219, 9%, 45%);
  margin:0;
  margin-left: .5em;
}

.cart--products--info > p > .cart--total--price {
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  margin-left: .25em;
}

.cart--checkout--btn {
  align-self: center;
  width: 89%;
}

.cart--trash--icon {
  margin-left: auto;
  cursor: pointer;
  color: hsl(220, 14%, 75%);
}

.cart--trash--icon:hover {
  transform: translateY(1px);
}


/*Main styling*/

main {
  grid-column: 1 /-1;
  grid-row: 2/-1;
}

.product--img--container {
  position: relative;
}

.product--img--btn--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
}

.product--img {
  width:100%;
  height:20em;
  object-fit:cover;
  object-position:50% 50%;
}

.product--img--btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 2.5em;
  height: 2.5em;
  margin: 0 .75em;
}

.product--img--btn > img {
  width: .65em;
}

.product--info, .product--price--info {
  padding: 1em;
}

.product--info > h1,
.product--info > h3,
.product--info > p
 {
  margin-top: 0;
}

.product--info > h3 {
  color: hsl(26, 100%, 55%);
  font-size: 1rem;
}

.product--info > p {
  color: hsl(219, 9%, 45%);
  font-size: 1rem;
}

.product--info > p {
  font-size: .85rem;
  line-height: 2em;
}

.product--price--info {
  display: flex;
  align-items: center;
}

.product--price--info > h1,
.product--price--info > h3 {
  margin-top: 0;
}

.price--before {
  margin-left: auto;
  text-decoration-line: line-through;
  color: hsl(220, 14%, 75%);
}

.price--discount {
  margin-left: .7em;
  margin-bottom: 1.25em;
  background-color: hsl(25, 100%, 94%);
  padding: .25em .5em;
  border-radius: 20%;
}

.price--discount > h3 {
  margin: 0;
  color: hsl(26, 100%, 55%);
  font-size: .9rem;
}

.product--to--cart--container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.amount--btn--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(223, 64%, 98%);
  padding: 0em 1em;
  height: 3.25em;
  border-radius: .75em;
}

.amount--btn {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  font-size: 1.5em;
  font-weight: 700;
  color: hsl(26, 100%, 55%);
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: .85rem;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border: none;
  padding: 2em 1em;
  height: 3.25em;
  border-radius: .75em;
}

.add--cart--btn {
  gap:15px;
  margin-top: 1em;
  margin-bottom: 5.5em;
  -moz-box-shadow: 0 5px 20px hsl(26, 100%, 71%);
  -webkit-box-shadow: 0 5px 20px hsl(26, 100%, 71%);
  box-shadow: 0 5px 20px hsl(26, 100%, 71%);
}

.btn:hover,
.btn:active {
  transform: translateY(2px);
}

.add--cart--btn > .add--btn--icon {
  margin-right: 1em;
  color: white;
}

